<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Sites Associé</title>
<style type="text/css">
	.apps {text-decoration: none}
	footer {background-color: black; color: white}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="index" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="sites_associé" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Sites/Système associés</a>
    <a href="aide" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Aide</a>
    <a href="edith" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Edith</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="index" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="sites_associé" class="w3-bar-item w3-button w3-padding-large">Sites/Système associés</a>
    <a href="aide" class="w3-bar-item w3-button w3-padding-large">Aide</a>
    <a href="edith" class="w3-bar-item w3-button w3-padding-large">Edith</a>
  </div>
</div>


<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Sites/Systèmes associés</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <p class="w3-text-grey"><div>
          <h5 class="w3-padding-32"><a href="https://www.onenote.com/hrd?wdorigin=ondcauth2&wdorigin=poc" class="apps">OneNote :</a></h5>
          <p class="w3-text-grey">OneNote est une application et un site web de la compagnie Microsoft. Elle permet de créer des "blocks-notes" où sont composés de plusieurs "sections" qui sont elle-même composées de une ou plusieurs "notes" où l'ont peut ajouter tous types de contenu comme du texts, fichiers, ... Dans le cas de l'EIMLB, OneNote sert de cahier de classe où chaque élève de la même classe peut travailler dans une section privé où seul le professeur et lui ont accès.</p>
      </div></p>
    </div>
  </div>
</div>


<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <p class="w3-text-grey"><div>
          <h5 class="w3-padding-32"><a href="https://antiope.webuntis.com/WebUntis/?school=EIMLB#/basic/main" class="apps">WebUntis :</a></h5>
          <p class="w3-text-grey">WebUntis est une application et un site web de Office365 qui permet au école de faire un livret de classe en ligne et un planning de cours pour les élèves et les professeurs. Ce planning permet de connaitre ses cours, ses activités et les absences des professeurs en temps réel. Pour se connecter, il faut son compte IAM scolaire qui a dû être activer en début d'année.</p>
      </div></p>
    </div>
  </div>
</div>


<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <p class="w3-text-grey"><div>
          <h5 class="w3-padding-32"><a href="https://ssl.education.lu/saml/module.php/discopower/disco.php?entityID=https%3A%2F%2Fssl.education.lu%2Fsaml%2Fmodule.php%2Fsaml%2Fsp%2Fmetadata.php%2Fdisco&return=https%3A%2F%2Fssl.education.lu%2Fsaml%2Fmodule.php%2Fsaml%2Fsp%2Fdiscoresp.php%3FAuthID%3D_eacc2a4538c941ea5a4993b35513f5ebf111d543f5%253Ahttps%253A%252F%252Fssl.education.lu%252Fsaml%252Fsaml2%252Fidp%252FSSOService.php%253Fspentityid%253Durn%25253Adnn-default%2526cookieTime%253D1585338726&returnIDParam=idpentityid" class="apps">Restopolis :</a></h5>
          <p class="w3-text-grey">Restopolis est une application et un site web de education.lu. Il permet aux élèves de connaitre le menu de la cantine et la solde de sa carte de cantine en temps réel. Pour se connecter sur l'application, il faut se connecter sur le site web puis chercher le QR Code et le scanner avec l'application.</p>
      </div></p>
    </div>
  </div>
</div>


<!-- Fourth Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <p class="w3-text-grey"><div>
          <h5 class="w3-padding-32"><a href="http://mclcm.free.fr/documents/060124_EPCC.pdf" class="apps">EPCC :</a></h5>
          <p class="w3-text-grey">Le système EPCC est un système qui permet à l'élève de mieux apprendre pour test. Ce système fonctionne en donnant à l'élève 80% des questions possible pour le test qui ont été vu en cours et les 20% restant sont des questions inconnus.</p>
      </div></p>
    </div>
  </div>
</div>


<!-- Fifth Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <p class="w3-text-grey"><div>
          <h5 class="w3-padding-32"><a href="https://fr.wikipedia.org/wiki/Plan_Dalton" class="apps">Dalton :</a></h5>
          <p class="w3-text-grey">Le plan Dalton est un système qui permet à l'élève de travailler à son rythme. Ce système fonctionne en donnant à l'élève des missions dans chaque matière sur laquelle il peut travailler quand il veut pendant la deuxième parti de 45 minutes des cours. Le professeur peut aider l'élève pendant cette période.</p>
      </div></p>
    </div>
  </div>
</div>


<!-- Sixth Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <p class="w3-text-grey"><div>
          <h5 class="w3-padding-32"><a href="https://fr.khanacademy.org/" class="apps">Khan Academy :</a></h5>
          <p class="w3-text-grey">Khan Academy est une application et un site web qui permet d'apprendre les mathématiques, les sciences et l'informatique. Khan Academy permet d'apprendre les maths en suivant les programmes scolaire français et belge.</p>
      </div></p>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
 <p>Propriety of <a href="https://www.eimlb.lu/" target="_blank">eimlb.lu</a></p>
</footer>
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</body>
</html>